body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffae2; /* Fondo principal */
    color: #908a65; /* Texto principal */
}

header {
    background-color: #aea881; /* Color del header */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

main {
    padding: 20px;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff; /* Fondo claro para las tarjetas */
    border: 1px solid #cec69f;
    border-radius: 7px;
    padding: 14px;  
    margin: 10px;
    width: calc(20% - 20px);
    color: #908a65;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); /* Efecto de hover */
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    height: 120px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card-content h2 {
    font-size: 1rem;
    margin: 10px 0;
    height: 40px;
    color: #908a65;
}

.card-content p {
    margin: 5px 0;
    font-size: 0.8em;
    color: #908a65;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.add-to-cart {
    background-color: #cec69f; /* Botón con paleta de color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: pointer;
    font-size: 0.9em; 
}

.add-to-cart:hover {
    background-color: #aea881; /* Hover más oscuro */
}

.navigation {
    position: absolute;
    top: 10px;
    right: 20px;
}

.nav-link {
    background-color: #cec69f; /* Enlaces de navegación */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #aea881; /* Hover más oscuro */
}

/* Estilos para la notificación */
#notification {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fef7d4;
    color: #908a65;
    padding: 15px;
    border: 1px solid #cec69f;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
    z-index: 1000;
}

#notification.show {
    display: block;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Responsividad */
@media (max-width: 768px) {
    .card {
        width: calc(45% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 20px);
    }

    .nav-link {
        padding: 5px 10px;
    }
}
